.image-with-text {
    height: auto;
    width: 60%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;

    padding: 1.5rem;
}

.image-prop {
    height: 80%;
}

.comp-text-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.text-content {
    text-decoration: none;
}