.image-with-text {
    height: auto;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;

    padding: 1.5rem;
}

#image-prop {
    height: 80%;
}

#comp-text-content {
    display: flex;
    flex-direction: column;
}