#intro-content {
  display: flex;
  flex-flow: row nowrap;
}

#my-photo {
  height: 100%;
}

#left {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.intro-text {
  width: 70%;
  color: var(--secondary)
}

#intro-title {
  font-size: 2rem;
}

#brief-intro {
  font-size: 1.1rem;
}

#my-photo {
  height: 95%;
}