#main-content {
  height: 90%;
  width: 100%;
}

#my-photo {
  height: 100%;
  width: 40%;
}

#right {
  height: 100%;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5rem;
}

.intro-text {
  width: 70%;
  color: var(--secondary)
}

#intro-title {
  font-size: 2rem;
}

#brief-intro {
  font-size: 1.1rem;
}

#my-photo {
  height: 95%;
}